
/*Selector Padre (OBLIGATORIAMEMTE */
:root{
    
    /*variables CSS*/
    --color-primario: #EC111A;
    --color-secuandario:#082BA5;
    --color-terciario:#007BDF;
    --color-sombras: #282D31;
    --color-titulo: #282D31;
    --color-texto: #53575A;
    --color-texto2: #42365a;

}


/* SELECTOR UNIVERSAL (OBLIGATORIAMEMTE)*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* INICO DE MENU */
 header{
    background-color: var(--color-titulo);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 0 16px var(--color-sombras);
    color: #fff;
    padding: 0.5em 0;
    text-align: center;

}


.menu{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.img-logo{
    width: 110px;
    height: 110px;
    
}

.btn-menu{
    display: none;
}

.enlaces a{
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: .9em;
    margin: 0 1em;
}

.enlaces a:hover{
    color: var(--color-primario);
    transition: color .5s;
}

/* Libreria Headdroom para menos navegación */
.headroom{
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned{
    transform: translateY(0%);

}

.headroom--unpinned{
    transform: translateY(-100%);
}


/* Responsive web desing form mobile */
@media screen and (max-width: 900px){

    .menu{ 
        flex-direction: column;
     }

     .logo{
         display: flex;
         justify-content: space-between;
         width: 100%;
     }

     .btn-menu{
         display: block;
         margin-top: 1.5em;
         color: #fff;
         font-size: 1.5em;
         cursor: pointer;
     }

     .enlaces{
    display: flex;
    flex-direction: column;
    text-align: center;
     }

}

body{
    background-image: url(/img/fondo-login.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.formulario{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 30%;
    margin: auto;
    margin-top: 7.5em;
    box-shadow: 0px 4px 16px  var(--color-sombras);
   padding: 1em;
}

.titulo1 {
    color: #ec2f58;
    font-size: 1.3em;
    margin-bottom: .6em;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo2{
    color: var(--color-texto2);
    font-size: 1em;
    margin-bottom: 2Sem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif
}

select{
    width: 100%;
    padding: .5em;
    border: none;
    border: 1px solid #cac8c9;
    border-radius: .3em;
    margin-bottom: 0.5em;
    color: var(--color-texto2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    
}


.datos{  
    width: 100%;
    padding: .5em;
    border: none;
    border: 1px solid #cac8c9;
    border-radius: .3em;
    margin-bottom: 0.5em;
    color: var(--color-texto2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}

input::placeholder{
    color: var(--color-texto2);
    font-family: Arial, Helvetica, sans-serif
}

.pregunta-registro{
    color: var(--color-texto2);
    font-size: 13px;
    margin: .5em;
    font-family: Arial, Helvetica, sans-serif
}


.terminos{
    color: var(--color-texto2);
    font-size: .7em;
    margin: .5em;
    font-family: Arial, Helvetica, sans-serif;    
}

.opciones{
    color: var(--color-texto2);
    font-size: 0.7em;
    width: 100%;
    display: flex;
    gap: 9em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    
}

.opcion {
    display: flex;
    align-items: center;
    gap: 0.5em; 
}


input[type="checkbox"] {
    font-size: 7em;
    margin-right: 2px;
    padding:0%;
}

input, a {
    color: #ec2f58;
    right: 0%;
}

.boton{
    background-color: #ec2f58;
    color: #fff;
    font-weight:normal;
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    box-shadow: 0px 3px 10px  #ec2f58;
    width: 100%;
}

.fa-whatsapp{
    font-size: 3.5em;
    padding: 0;  
    position: fixed;
    right: 20px;  
    bottom: 20px;
    z-index: 1000;
    text-decoration: none;
    border-radius: 1em;
    background-color: rgb(99, 230, 119);
    padding: 16px;
    
}




